<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Quora</title>
    <link rel="icon" th:href="@{assets/img/title.png}" type="" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"  rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js" th:src="@{http://code.jquery.com/jquery-1.11.1.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mylogo" th:href="@{index}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{index}"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/displayBarGraph}" class="nav-link"><i class="fa fa-bell"></i> Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{team}"><i class="fa fa-edit"></i> OurTeam</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 col-md-5">
                <input class="myform-control mr-sm-2" type="search" placeholder="Search Quora" aria-label="Search">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="avatar-profile d-none d-sm-block ">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown" ><img th:src="@{assets/img/avatar.png}" height="48px" width="48px" class="img-responsive" /></a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/profile}">Profile <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/login}">Login <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{login}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="add-question" class="btn mybtn btn-success">Add Question or Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Navigation-->
<body>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class=" aff-right">
                <div class="ui-block">
                    <h6 class="my-4">Feeds</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#"> Feeds</a>
                        <a class="nav-link" data-toggle="pill" href="#"> Fashion and Style</a>
                        <a class="nav-link" data-toggle="pill" href="#" >Business</a>
                        <a class="nav-link" data-toggle="pill" href="#">Visiting and Travel</a>
                        <a class="nav-link" data-toggle="pill" href="#">Sports</a>
                        <a class="nav-link" data-toggle="pill" href="#">Education</a>
                        <a class="nav-link" data-toggle="pill" href="#" >Music</a>
                        <a class="nav-link" data-toggle="pill" href="#">Technlogy</a>
                        <a class="nav-link" data-toggle="pill" href="#">Android Applications</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->



        <div class="col-lg-7">
            <!--User Question post block-->
            <div class="ui-block">
                <article class="hentry post">
                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/avatar.png" th:src="@{assets/img/avatar.png}" height="48px" width="48px" class="img-responsive" alt="author">
                        <div class="author-date">
                            <a class="h6 post__author-name fn" th:text="${user_name}" th:href="@{profile}"></a>
                            <div class="post__date">
                                <time class="published" datetime="2004-07-24T18:18">

                                </time>
                            </div>
                        </div>
                    </div>
                    <div id="qnlink" class="m-link">
                        <h5> <a href="#" id="add-question"   target="">What is your question?
                        </a></h5>
                    </div>
                </article>
            </div><!--End of ask question block-->



            <!--Hot Topics listed with question and answers-->
            <div th:each="quest:${listofquestions}" class="ui-block">
                <article class="hentry post">
                    <div class="m-link">
                        <a th:href="${'/questions/' + quest.id}" >
                            <h6 th:text="${quest.getQuestion_content()}" style="font-weight: bold"></h6>
                        </a>
                    </div>
                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/avatar.png" th:src="@{assets/img/avatar.png}" height="48px" width="48px" class="img-responsive" alt="author">

                        <div class="author-date">
                            <span class="h6 post__author-name fn" th:text="${quest.getUser().getName() + quest.getUser().getLastName()}" th:href="@{profile}"></span>
                            <div class="post__date">
                                <time class="published" datetime="2004-07-24T18:18">
                                    <p th:text="${quest.getCreateDate()}"></p>
                                </time>
                            </div>
                        </div>

                    </div>
                </article>
            </div><!--End of Topic Block-->
            <!--Questons to Answer-->

        </div><!--End of col-lg-7-->
        <!-- /.col-lg-6 -->
        <!--col-lg-3-->
        <div class="col-lg-3">
            <div class=" q-wid">
                <div class="ui-block">
                    <h6 class="my-4">Improve Your Feed</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab"  aria-orientation="vertical">
                        <a class="nav-link"  data-toggle="pill" href="#"  >  Upvote 5 more good answers</a>
                        <a class="nav-link"  data-toggle="pill" href="#"  >Ask your first question</a>
                        <a class="nav-link" data-toggle="pill" href="#"   >Add 3 credentials</a>
                        <a class="nav-link" data-toggle="pill" href="#">Answer a question</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>
</div>
<!-- /.container -->
<!-- The Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">Add Questions</a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="well">
                    <h6>Tips on getting good answers quickly</h6>
                    <ul>
                        <li ><i class="far fa-check-circle" style="color:#329bff"> </i> Make sure your question hasn't been asked already</li>
                        <li><i class="far fa-check-circle" style="color:#329bff"> </i> Keep your question short and to the point</li>
                        <li><i class="far fa-check-circle" style="color:#329bff"> </i> Double-check grammar and spelling</li>
                    </ul>
                </div>
                <div class="post__author author vcard inline-items">
                    <img src="assets/img/avatar.png" th:src="@{assets/img/avatar.png}" height="48px" width="48px" class="img-responsive" />
                    <div class="author-date">
                        <a class="h6 post__author-name fn" href="#" th:text="${user_name}"></a>
                        <div class="post__date">
                            <time class="published" datetime="2004-07-24T18:18">
                            </time>
                        </div>
                    </div>
                </div>

                <form th:action="@{/addquestion}" th:object="${question}" enctype="multipart/form-data" method="post">

                    <div class="input-group">
                        <textarea   th:field="*{question_content}" name = "title" type="text"  class="form-control" aria-label="With textarea"></textarea>

                    </div>
                    <input type="text" id="topic" name="topic" placeholder="Enter Topic"  class="form-control">
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" style="background-color: #3a66ad; color: white;">Add Question</button>
                <button type="button" class="btn btn"  data-dismiss="modal">Cancel</button>
            </div>

            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).on("click", "#add-question", function(){
        $("#addModal").modal("show");
    });
</script>