
<header>
    <nav *ngIf="user" class="navbar navbar-expand-lg navbar-light justify-content-between">
        <div class="container">

            <a class="navbar-brand" [routerLink]="['/']" >
                <img src='../../assets/logo.png' alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a [routerLink]="['/']" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                            <i class="fas fa-bell"></i> Notifications <span class="badge badge-danger">{{messages.length || ''}}</span>
                        </a>
                        <ul class="dropdown-menu" >
                            <div *ngIf="messages.length>0; else noNotification" style="overflow:scroll; max-height:400px;">
                                <li *ngFor="let message of messages; let i = index"><a class="nav-link" (click)="removeNotifi(i)"  routerLink="question/{{message.data['gcm.notification.questionId']}}">{{message.notification.body}}</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="dropdown">
                        <div class="input-group" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                            </div>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search Question" aria-label="Search" (keypress)='onkeypress($event.target.value)'>
                        </div>
                        <ul class="dropdown-menu">
                            <div *ngIf="searchResults.length>0; else noSearch" style="overflow:scroll; max-height:400px;">
                                <li *ngFor="let results of searchResults; let i = index"><a class="nav-link" (click)="removeNotifi(i)"  routerLink="question/{{results._id}}">{{  (results.title.length>50)? (results.title | slice:0:50)+'...':(results.title) }}</a></li>
                            </div>
                        </ul>
                    </div>
                </form>
                
                <ul class="navbar-nav ml-auto">
                        <span class="nav-link">{{user.fullname}}</span>&nbsp;
                    <li class="avatar-profile d-none d-sm-block ">
                        <a class="dropdown-toggle"  data-toggle="dropdown" >
                            <img [src]="user.picture" (error)="pictureError()" class="img-responsive userpic" alt="author"> &nbsp;
                        </a>
                        <div class="nav navbar-nav">
                            <div class="dropdown" >
                                <div class="dropdown-menu">
                                    <a [routerLink]="['/profile']" class="dropdown-item"><i class="far fa-user-circle"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a (click)="logout()" class="dropdown-item out"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                        &nbsp; 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<ng-template #noNotification>
    <div>
        <li>
            <a class="nav-link">No nofitication</a>
        </li>
    </div>
</ng-template>
<ng-template #noSearch>
    <div>
    </div>
</ng-template>
