header1 {
    width: 100%;
    .logo1 {
      background-image: url('../../assets/logo.png');
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .example-spacer1 {
      flex: 1 1 auto;
    }
    .links1 {
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      padding: 15px;
      &.side {
        padding: 0 14px;
      }
    }
    .mat-toolbar1 {
      background: black;
    }
    .mat-icon1 {
      vertical-align: middle;
      margin: 0 5px;
    }
    a1 {
      cursor: pointer;
    }
  }

a{
  cursor: pointer;
}
a.out{
  color: rgba(150, 20, 20, 1);
}
img.userpic{
  border-radius: 22px;
  width: 45px;
  height: 45px;
}
img{
  width: 78px;
  height: 24px;
}
.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(177, 6, 6);
}
.navbar{
  background-color: rgba(20,20,20,0.1);
}
nav{
  box-shadow: 0px 1px 0px 0 rgba(20, 20, 20, 0.1);
  border: 1px solid rgba(20,20,20,0.1);
}