
<header>
    <nav *ngIf="user" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container">

            <a class="navbar-brand" [routerLink]="['/']" >
                <h1 class="card-title title"><b> Quora</b></h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']"><i class="fas fa-user-friends"></i> OurTeam</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a [routerLink]="['/']" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i> Notifications <span class="badge">{{messages.length || 0}}</span>
                        </a>
                        <ul class="dropdown-menu">

                            <li *ngFor="let message of messages"><a class="nav-link"  [routerLink]="['/']">{{message.notification.body}}</a></li>
                            <!--<li><a class="nav-link" [routerLink]="['/']">Another action</a></li>-->
                            <!--<li><a class="nav-link" >test t</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a class="nav-link" (click)="pushNotificationService.requestPermission()"> let us send you notifications</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a class="nav-link" (click)="pushNotificationService.unsubscribe()">Delete my token</a></li>-->
                        </ul>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Question" aria-label="Search">
                    <button class="btn btn-light"><i class="fa fa-search"></i></button>
                </form>
                
                <ul class="navbar-nav ml-auto">
                        <span class="nav-link">{{user.fullname}}</span>&nbsp;
                    <li class="avatar-profile d-none d-sm-block ">
                        <a class="dropdown-toggle"  data-toggle="dropdown" >
                            <i class="fas fa-user-circle text-muted" style="font-size: 42px;"></i>
                        </a>
                        <div class="nav navbar-nav">
                            <div class="dropdown">
                                <div class="dropdown-menu">
                                    <a [routerLink]="['/profile']" class="dropdown-item"><i class="far fa-user-circle"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a (click)="logout()" class="dropdown-item out"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                        &nbsp;
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>