
<div class="row ">
  <div class="col-sm-12 col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title"><b> Quora</b></h1>
      </div>
      <form class="example-form">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h5 class="text-muted">Find answers and start asking here!</h5>
            </div>
            <div class="col-sm-12 col-md-6">
              <input class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
              <input class="form-control" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
              <div align="right">
                <br>
                <p class="card-text">Don't have an account? <a [routerLink]="['/auth/register']" >register here</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted" align="right">
          <span (click)="login()" class="btn btn-primary">Login <i class="fas fa-arrow-right"></i></span>
        </div>
      </form>
    </div>
  </div>
</div>
