<div class="questions">
  <div align="center">
      <h5><b>Top 5 {{subject}} Questions</b></h5>
  </div>
  <div class='row'>
    <div class="col card">
      <div class="" *ngFor="let question of bytopics">
        <div class="card-body">
          <a [routerLink]="[question._id]"><h6 class="card-title" title='{{ question.title }}'><b>{{ question.title }}</b></h6></a>
          <p align="right" class="card-text text-muted">{{ question.createdAt | date }} <br> <i><b>{{ question.topic }}</b></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
