
<div align="center">
    <h4><b>Top 5 {{topic}} Questions</b></h4>
</div>
<div class="divider"></div>
<div class='row'>
  <div class='col'>
    <div class="card" *ngFor="let question of topics">
      <div class="card-body">
        <h5 class="card-title text-truncate" title='{{ question.title }}'>{{ question.title }}</h5>
        <p class="card-text faded">{{ question.timestamp | date }} <br> <i>{{ question.topic }}</i></p>
        <a href="#" class="card-link">More ...</a>
        <a href="#" class="card-link">Follow <i class="far fa-bookmark"></i></a>
      </div>
    </div>
</div>
