<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <h6 class="my-4">Profile Information</h6>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <label>Name</label>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <p>fill name</p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <label>Email:</label>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <p>mail@mail.com</p>-->
<!--  </div>-->
<!--</div>-->

Profiles Info Works
