.wrapper-app {
}
.modal-title{
    color: rgb(177, 6, 6);
}
.addQuestion{
    position: absolute;
    right:25px;
    top:15px;
    z-index: 5;
}

.alert-data{
    position: absolute;
    top:80px;
    right:10px;
    z-index: 5;
    width: 100%;
}

.msg-error, .msg-success{
    display: none;
}
