.anAnswer{
    margin-left:25px;
    margin-top:15px;
}

h2{
    padding:50px;
}

h3{
    font-weight: bold; 
    font-family:'q_serif',Georgia,Times,'Times New Roman','Hiragino Kaku Gothic Pro','Meiryo',serif;
}

.user{
    font-size: 20px;
}

a{
    cursor: pointer;
}