<br>
<div *ngIf="question; else noQestion">
    <div class="row">
        <div class="col-sm-12" align="right">
            
        </div>
        <div class="col-md-8">
          <h3>{{question.title}}</h3>
          <span class="text-muted"><i><b>Answers {{question.answers.length}}</b></i></span>
        </div>
        <div class="col-md-4" align="right">
          <span class="text-muted"><i>Asked: {{question.createdAt | date}}</i></span><br>
          <span class="text-muted"><i>Topic: <b>{{question.topic}}</b></i></span><br>
          <br>
          <br>
          <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#answerQuestion">Answer It!</a>
        </div>
        <div class="col-sm-12" align="center">
            <hr>
            <h5><i>Answers</i></h5>
            <br>
        </div>
        
        <div class="col" *ngIf="question.answers.length > 0; else noAnswer">
            <div *ngFor="let answer of question.answers">
              <div class="post__author author vcard inline-items">
                  <div class="row">
                      <div class="col-sm-1" align="center">
                          <img src="../../assets/profile.png"  height="48px" width="48px" class="img-responsive" alt="author"> &nbsp;
                          <!-- <i class="fas fa-user-circle fa-3x"></i> -->
                      </div>
                      <div class="col">
                          <span class="user"><b>{{answer.username}}</b></span><br>
                          <span class="answer text-muted"><i>Answered {{answer.createdAt | date}}</i></span>
                      </div>
                  </div>
              </div>
              <div class="row anAnswer">
                <br>
                {{answer.body}}
                <br>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  <a href="#" class="text-info"><i class="fas fa-arrow-up"></i><span>Upvote</span></a>&nbsp;
                  <span>{{answer.upvote}}</span>
                </div>
                <div class="col-md-2">
                  <a href="#" class="text-info"><i class="fas fa-arrow-down"></i><span>Downvote</span></a>&nbsp;
                  <span>{{answer.downvote}}</span>
                </div>
                <div class="col">

                </div>
              </div>
              <hr>
          </div>
        </div>
        <ng-template #noAnswer>
            <div class="anAnswer">
              <p class="text-muted">No answer...</p>
            </div>
        </ng-template>

    </div>
</div>
<ng-template #noQestion>
  <div align="center">
    <h2 class="text-muted">Question not found</h2>
  </div>
</ng-template>


