<br>

<div class='row'>
  <div class='col-md-3'>
      <app-topic></app-topic>
  </div>
  <div class='col-md-6'>



      <div *ngFor= "let question of Question" class="ui-block">
          <article class="hentry post">
            <a class="h5" style="font-weight: bold; font:18px 'q_serif',Georgia,Times,'Times New Roman','Hiragino Kaku Gothic Pro','Meiryo',serif;" >{{question.title}}</a>
            <div *ngIf="question.answers.length != 0; else noAnswer">
            <div class="post__author author vcard inline-items">
              <img [src]="question.answers[0].picture"  height="48px" width="48px" class="img-responsive" alt="author">
              <div>
              <p class="user">{{question.answers[0].username}}</p>
        
                <span class="answer">Answered {{question.createdAt}}</span>
              </div>
            </div>
        
        
        
        
        
        
        
            {{question.answers[0].body}}
            </div>
            <ng-template #noAnswer>
                <p>No Answer</p>
            </ng-template>
        
          </article>
        </div>



    
  </div>
  <div class='col-md-3'>
    <app-top5></app-top5>
  </div>
</div>

