<br>

<div class='row'>
  <div class='col-sm-12 col-md-2'>
      <app-topic [topics]="topics" [subject]="subject"></app-topic>
  </div>
  <div class='col-md-7'>
      <div *ngFor= "let question of items" class="card multi-cards">

        <div class="media">
          <div class="media-body">
            <a [routerLink]="['/', 'question', question._id]" >
                <h4 class="mt-0"><b>{{question.title}}</b></h4>
            </a>
            <div align="right">
                <span class="answer-topic text-muted"><b>{{question.topic}}</b></span>
            </div>
            <article class="entry post">
              <div *ngIf="question.answers.length != 0; else noAnswer">
                  <div class="media mt-3">
                    <span *ngIf="question.answers[0].picture; else noPicture">
                      <img [src]="src" height="48px" width="48px" class="mr-3" alt="author">
                    </span>
                    <div class="media-body">
                      <span class="mt-0 username">{{ question.answers[0].username }} </span>
                      <span class="updated text-muted"><i> {{question.createdAt | amTimeAgo}}</i></span>
                      <div class="answer-body">
                        {{question.answers[0].body}}
                      </div>
                    </div>
                  </div>
                  <ng-template #noPicture>
                    <i align="center" class="fas fa-user-circle fa-3x"></i>
                  </ng-template>                
              </div>
              <ng-template #noAnswer>
                <p class="no-answer-body text-muted">No answer yet!</p>
              </ng-template>

            </article>
          </div>
        </div>

      </div>
  </div>
  <div class='col-md-3'>
    <app-top5 [bytopics]="bytopics" [subject]="subject"></app-top5>
  </div>
</div>

