<div id="qnlink" class="m-link">
  <h5> <a href="#" id="add-question"   target="">What is your question?
  </a></h5>
</div>
<div *ngFor= "let question of Question" class="ui-block">
  <article class="hentry post">
    <a  [routerLink]="['question',question._id]" style="font-weight: bold; font:18px 'q_serif',Georgia,Times,'Times New Roman','Hiragino Kaku Gothic Pro','Meiryo',serif;" >{{question.title}}</a>
    <div *ngIf="question.answers.length != 0; else noAnswer">
    <div class="post__author author vcard inline-items">
      <img [src]="question.answers[0].picture"  height="48px" width="48px" class="img-responsive" alt="author">
      <div>
      <p class="user">{{question.answers[0].username}}</p>

        <span class="answer">Answered {{question.createdAt | amTimeAgo}}</span>
      </div>
    </div>







    {{question.answers[0].body}}
    </div>
    <ng-template #noAnswer>
        <p>No Answer</p>
    </ng-template>

  </article>
</div>
